
<script type="text/ng-template" id="dropdown.html">
    <a href="" dir="auto">
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script>
    function attachGoogleAnalytics() {

    }
</script>
<script>
    window.gb = window.gb || {};
    window.gb.locale = 'en';

    window.gb.urlPrefix = '';
    window.gb.buildVersion = '1600936161761';

</script>

<script src="/js/environment.js?v=1600936161761"></script>
<script src="/js/base/vendor.js?v=1600936161761"></script>
<script src="/js/base/custom.js?v=1600936161761"></script>

