<!DOCTYPE html>

<!--[if !IE]> -->
<html lang="en" class="not_ie" ng-app="portal">
<!-- <![endif]-->
<!--[if IE]>
<html lang="en" class="ie" ng-app="portal">
<![endif]-->

{{ HEAD }}

<body
        class="


"
      ng-init="portal.urlPrefix='';BUILD_VERSION=1600936161761"
      ng-class="{'hasDrawer': portal.getDrawer()}"
      ng-controller="portalCtrl as portal">

{{ HEADER }}


<div id="site-wrapper" class="site-wrapper">
    <div feedback></div>
    <div notifications></div>
    <div user-menu></div>
    <div menu-search></div>
    <div language-menu></div>
    <main id="main" class="main" role="main" ui-view>
        <div class="site-content">
            <div class="site-content__page">
                <div>
                    <div class="omni-search-results light-background">
                        <div class="wrapper-horizontal-stripes">
                            <div class="horizontal-stripe--paddingless bare-background p-t-1 seperator--b">
                                <div class="container--narrow">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <form class="search-box ng-pristine ng-valid"
                                                  ng-submit="rootSearch.updateSearch()">
                                                <input type="text" id="siteSearch" autocomplete="off"
                                                       ng-init="rootSearch.freeTextQuery == ''"
                                                       ng-model="rootSearch.freeTextQuery"
                                                       placeholder="Occurrences, species, news ..."
                                                       ng-keydown="rootSearch.closeOnEsc($event)"
                                                       class="ng-pristine ng-valid ng-empty ng-touched"
                                                       aria-invalid="false" style="">
                                                <a href="" type="submit" style="cursor:pointer"
                                                   class="search-box__submit gb-icon-search2 inherit"
                                                   ng-click="rootSearch.updateSearch()">
                                                    <span class="sr-only ng-scope"
                                                          translate="search.search">Search</span>
                                                </a>
                                            </form>
                                        </div>

                                        <div class="col-xs-12">
                                            <nav class="tabs">
                                                <ul>
                                                    <!--TODO: Add Transilation-->
                                                    <li class="tab ">
                                                        <a href="all.html?=*" class="ng-scope">ALL</a>
                                                    </li>

                                                    <li class="tab">
                                                        <a href="occurrence-search.html?q=*"
                                                           translate="search.occurrences"
                                                           class="ng-scope">Occurrences</a>
                                                    </li>

                                                    <li class="tab">
                                                        <a href="species-search.html?q=*" translate="search.species"
                                                           class="ng-scope">Species</a>
                                                    </li>

                                                    <li class="tab">
                                                        <a href="datasets-search.html?q=*" translate="search.datasets"
                                                           class="ng-scope">Datasets</a>
                                                    </li>

                                                    <li class="tab isActive">
                                                        <a href="publishers-search.html?p=*"
                                                           translate="search.publishers" class="ng-scope">Publishers</a>
                                                    </li>

                                                    <li class="tab">
                                                        <a href="resources-search.html?q=*" translate="search.resources"
                                                           class="ng-scope">Resources</a>
                                                    </li>

                                                </ul>
                                            </nav>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="horizontal-stripe--paddingless">
                                <div class="container--narrow">
                                    <div class="row">
                                        <div style="padding: 20px 0px" id="body">
                                            <template id="template">
                                                <div class="card m-b-05 searchCard searchCard--publisher rtl-supported">
                                                    <div class="card__stripe">
                                                        <div class="card__content">
                                                            <!-- ngIf: result.created | isNew --><span
                                                                class="searchCard__type ng-scope"
                                                                ng-if="result.created | isNew"
                                                                translate="publisher.newPublisher">New publisher</span>
                                                            <!-- end ngIf: result.created | isNew -->
                                                            <h3 class="searchCard__headline" dir="auto">
                                                                <a href="/publisher/19e1c2ff-6122-4b75-97ac-a708eabff5ed">

                                                                </a>
                                                            </h3>
                                                        </div>
                                                    </div>
<!--                                                    <div class="card__stripe">-->
<!--                                                        <div class="card__content searchCard__content clearfix rtl-bootstrap">-->
<!--                                                            <a-->
<!--                                                                    href="/publisher/19e1c2ff-6122-4b75-97ac-a708eabff5ed"-->
<!--                                                                    class="pull-right">-->
<!--                                                                <img class="searchCard__img&#45;&#45;noCrop"-->
<!--                                                                     src="//api.gbif.org/v1/image/unsafe/128x/https%3A%2F%2Fchile.wcs.org%2FPortals%2F134%2FWCS%2520sin%2520fondo.png%3Fver%3D2020-09-04-134427-417" />-->
<!--                                                            </a>-->
<!--                                                            <div class="searchCard__meta">-->
<!--                                                                <span>Joined a month ago</span>-->
<!--                                                            </div>-->
<!--                                                            <p>-->
<!--                                                                WCS es una organización con presencia global y más de 120-->
<!--                                                                años de experiencia, cuya misión es proteger los paisajes y-->
<!--                                                                la vida silvestres a través de la ciencia (investigación),-->
<!--                                                                acciones de conservació…-->
<!--                                                            </p>-->
<!--                                                            <ul class="list-chips">-->
<!--                                                                <li>-->
<!--                                                                    <a href="/publisher/search?country=CL">Chile</a>-->
<!--                                                                </li>-->
<!--                                                                <li>-->

<!--                                                                    <a href="/resource/search?contentType=literature&amp;publishingOrganizationKey=19e1c2ff-6122-4b75-97ac-a708eabff5ed"><span>0 citations</span></a>-->
<!--                                                                </li>-->
<!--                                                            </ul>-->

<!--                                                        </div>-->
<!--                                                    </div>-->
                                                </div>
                                            </template>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {{ FOOTER }}

    <div terms></div>
    <div gdpr></div>
</div>
<div gb-help-overlay></div>
    {{ SCRIPTS }}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    console.log('hello')
    axios.get('https://collections.tanbif.ditnet.ac.tz/ws/institution')
        // .then(response => (response.data))
        .then(function (response) {
            // resultElement.innerHTML = generateSuccessHTMLOutput(response);
            // console.log(response.data)

            response.data.forEach((obj) => {
                console.log(obj)
                var template = document.querySelector('#template')
                var body = document.querySelector('#body')

                // Clone the new row and insert it into the table
                var clone = template.content.cloneNode(true);
                var h3 = clone.querySelectorAll("h3");
                h3[0].textContent = obj.name;

                body.appendChild(clone);
            })


            // response.map(key, item => {
            //     console.log(item.name)
            // })
        })
        .catch(function (error) {
            // resultElement.innerHTML = generateErrorHTMLOutput(error);
            console.log('There was an error fetching the results!')
            console.log(error)
        });
</script>
</body>
</html>
